.logo
  line-height 0
  text-align center
  display block
  transition margin .3s ease
  width 100%

  img
    height 130px

.header__toolbar
  height 64px
  padding-right 55px
  @media (max-width 1024px)
    padding-right 28px

.header__notifications-icon
  opacity .65

.header__toolbar-add
  .q-item__section--avatar
    opacity .65
    min-width 20px
    padding-right 8px
