.page-toolbar
.page-tabs
  padding 26px 20px 20px 64px

  @media (max-width 1000px)
    padding-left 20px

.page-toolbar
  width 100%
  align-items center

.page-toolbar__title
  @extend .text-h1
  margin 0 33px 0 0

.page-toolbar__back
  padding 0

.page-tabs
  padding-bottom 0
  padding-top 2px

  .q-card__section &
    padding-left 0

.q-card__section
  @media (max-width 1000px)
    padding-left 0
    padding-right 0

.page-contents
  padding 21px 64px 20px 64px
  width 100%
  background #fff
  min-height calc(100vh - 149px)
  @media (max-width 1400px)
    padding-left 30px
    padding-right 30px

  &.card-contents
    padding 16px 48px 20px

    @media (max-width 1000px)
      padding-left 20px
      padding-right 20px
