@font-face
  font-family 'SF UI Display'
  src url('../statics/fonts/sf-ui-display-regular-webfont.eot')
  src local('SF UI Display Regular'), local('SFUIDisplayRegular'), local('SFUIDisplay'), url('../statics/fonts/sf-ui-display-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-display-regular-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-display-regular-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-display-regular-webfont.svg#sf_ui_displayregular') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'SF UI Display'
  src url('../statics/fonts/sf-ui-display-medium-webfont.eot')
  src local('SF UI Display Medium'), local('SFUIDisplayMedium'), url('../statics/fonts/sf-ui-display-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-display-medium-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-display-medium-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-display-medium-webfont.svg#sf_ui_displaymedium') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'SF UI Display'
  src url('../statics/fonts/sf-ui-display-semibold-webfont.eot')
  src local('SF UI Display SemiBold'), local('SF UI Display Semibold'), local('SFUIDisplaySemibold'), url('../statics/fonts/sf-ui-display-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-display-semibold-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-display-semibold-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-display-semibold-webfont.svg#sf_ui_displaysemibold') format('svg')
  font-weight 600
  font-style normal

@font-face
  font-family 'SF UI Display'
  src url('../statics/fonts/sf-ui-display-bold-webfont.eot')
  src local('SF UI Display Bold'), local('SFUIDisplayBold'), url('../statics/fonts/sf-ui-display-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-display-bold-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-display-bold-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-display-bold-webfont.svg#sf_ui_displaybold') format('svg')
  font-weight 700
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-regular-webfont.eot')
  src local('San Francisco Text Regular'), local('SanFranciscoTextRegular'), local('SF Text Regular'), local('SF Text'), local('SFTextRegular'), url('../statics/fonts/sf-ui-text-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-regular-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-regular-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-regular-webfont.svg#sf_ui_textregular') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-italic-webfont.eot')
  src local('San Francisco Text Regular Italic'), local('SanFranciscoTextRegularItalic'), local('SF Text Regular Italic'), local('SF Text Italic'), local('SFTextRegularItalic'), url('../statics/fonts/sf-ui-text-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-italic-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-italic-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-italic-webfont.svg#sf_ui_textitalic') format('svg')
  font-weight 400
  font-style italic

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-medium-webfont.eot')
  src local('San Francisco Text Medium'), local('SanFranciscoTextMedium'), local('SF Text Medium'), local('SFTextMedium'), url('../statics/fonts/sf-ui-text-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-medium-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-medium-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-medium-webfont.svg#sf_ui_textmedium') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-mediumitalic-webfont.eot')
  src local('San Francisco Text Medium Italic'), local('SanFranciscoTextMediumItalic'), local('SF Text Medium Italic'), local('SFTextMediumItalic'), url('../statics/fonts/sf-ui-text-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-mediumitalic-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-mediumitalic-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-mediumitalic-webfont.svg#sf_ui_textmedium_italic') format('svg')
  font-weight 500
  font-style italic

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-bold-webfont.eot')
  src local('San Francisco Text Bold'), local('SanFranciscoTextBold'), local('SF Text Bold'), local('SFTextBold'), url('../statics/fonts/sf-ui-text-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-bold-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-bold-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-bold-webfont.svg#sf_ui_textbold') format('svg')
  font-weight 700
  font-style normal

@font-face
  font-family 'San Francisco Text'
  src url('../statics/fonts/sf-ui-text-bolditalic-webfont.eot')
  src local('San Francisco Text Bold Italic'), local('SanFranciscoTextBoldItalic'), local('SF Text Bold Italic'), local('SFTextBoldItalic'), url('../statics/fonts/sf-ui-text-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sf-ui-text-bolditalic-webfont.woff2') format('woff2'), url('../statics/fonts/sf-ui-text-bolditalic-webfont.woff') format('woff'), url('../statics/fonts/sf-ui-text-bolditalic-webfont.svg#sf_ui_textbold_italic') format('svg')
  font-weight 700
  font-style italic

// TODO: remove if not used
@font-face
  font-family 'SF Pro Text'
  src url('../statics/fonts/sfprotext-regular-webfont.eot')
  src local('SF Pro Text'), local('SF Pro Text Regular'), local('SFProTextRegular'), url('../statics/fonts/sfprotext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sfprotext-regular-webfont.woff2') format('woff2'), url('../statics/fonts/sfprotext-regular-webfont.woff') format('woff'), url('../statics/fonts/sfprotext-regular-webfont.svg#sf_pro_textregular') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'SF Pro Text'
  src url('../statics/fonts/sfprotext-medium-webfont.eot')
  src local('SF Pro Text Medium'), local('SFProTextMedium'), url('../statics/fonts/sfprotext-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../statics/fonts/sfprotext-medium-webfont.woff2') format('woff2'), url('../statics/fonts/sfprotext-medium-webfont.woff') format('woff'), url('../statics/fonts/sfprotext-medium-webfont.svg#sf_pro_textmedium') format('svg')
  font-weight 500
  font-style normal
